span {
  font-weight: 300;
  font-size: medium;
}

.mat-card-title {
  font-weight: 400 !important;
  font-size: 26px;
  margin: 14px;
}

.mat-card-subtitle {
  margin-left: 14px;
  font-size: 16px;
  font-weight: 500;
  font-style: oblique;
}

.m-3{
  width: 80%;
  text-align: center;
}

.row{
  position: relative;
  width: 100%;
  text-align: left;
  margin: auto;
  border: 2px solid black;
}

table{
  width: 100%;
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}