<!-- ha létezik a doktor, akkor megjelenítjük az adatait -->
<ng-container *ngIf="doctorObj">
    <h2 style="font-weight: 700;" class="m-3" color="primary">Doctor Information</h2>
    <mat-card class="m-3">
        <mat-card-title style="margin: 0.5vw">
            {{doctorObj.name}}
        </mat-card-title>

        <br>

        <mat-card-subtitle>
            Qualification : <b>{{doctorObj.qualification}}</b>
        </mat-card-subtitle>
        <mat-divider></mat-divider>

        <div class="row pt-4" style="padding-left: 1vw;">
            <div class="col-md-6">
                <mat-card-content style="font-size: larger">
                    <span> Email : </span> {{doctorObj.email}} <br>
                    <span> Mobile : </span> {{doctorObj.mobile | mobileFormat}} <br>
                </mat-card-content>
            </div>

            <div class="col-md-4">
                <mat-card-content style="font-size: larger">
                    <span> Gender : </span> {{doctorObj.gender}} <br>
                    <span> Department : </span> {{doctorObj.department}}
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</ng-container>

<div class="m-3">
    <!-- páciens táblázat -->
    <h2 style="font-weight: 700;" class="mt-4" color="primary">Patient Information</h2>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Smith" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- name oszlop -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="text-align: center; font-size: larger; text-decoration: underline; font-weight: bold;">
                    Patient's Name </th>
                <td mat-cell *matCellDef="let row"> {{row.patient_name}} </td>
            </ng-container>

            <!-- gender oszlop -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="text-align: center; font-size: larger; text-decoration: underline; font-weight: bold;">
                    Gender </th>
                <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
            </ng-container>

            <!-- telefonszám oszlop -->
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="text-align: center; font-size: larger; text-decoration: underline; font-weight: bold;">
                    Mobile </th>
                <td mat-cell *matCellDef="let row"> {{row.mobile | mobileFormat}} </td>
            </ng-container>

            <!-- recept oszlop -->
            <ng-container matColumnDef="prescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="text-align: center; font-size: larger; text-decoration: underline; font-weight: bold;">
                    Prescription </th>
                <td mat-cell *matCellDef="let row"> {{row.prescription}} </td>
            </ng-container>

            <!-- gomb oszlop -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="viewPatient(row)">
                            <mat-icon>open_in_new</mat-icon>
                            <span>View</span>
                        </button>
                        <button mat-menu-item (click)="editPatient(row)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                    </mat-menu>

                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- sor ha nincs találat -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of doctors"></mat-paginator>
    </div>