<!-- ha létezik a doktor, akkor megjelenítjük az adatait -->
<ng-container *ngIf="doctorObj">
    <h2 style="font-weight: 700;" class="m-3" color="primary">Doctor Information</h2>
    <mat-card class="m-3">
        <mat-card-title style="margin: 0.5vw">
            {{doctorObj.name}}
        </mat-card-title>

        <br>

        <mat-card-subtitle>
            Qualification : <b>{{doctorObj.qualification}}</b> 
        </mat-card-subtitle>
        <mat-divider></mat-divider>

        <div class="row pt-3" style="padding-left: 1vw;">
            <div class="col-md-4">
                <mat-card-content style="font-size: larger">
                    <span> Email : </span> {{doctorObj.email}} <br>
                    <span> Mobile : </span> {{doctorObj.mobile | mobileFormat}} <br>
                </mat-card-content>
            </div>

            <div class="col-md-4">
                <mat-card-content style="font-size: larger">
                    <span> Gender : </span> {{doctorObj.gender}} <br>
                    <span> Department : </span> {{doctorObj.department}}
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</ng-container>